MYSQL_HOST=your_mysql_host
MYSQL_PORT=3306
MYSQL_USER=your_mysql_user
MYSQL_PASSWORD=your_mysql_password
MYSQL_DB=your_mysql_database
MYSQL_SSL_CA=path_to_ca_certificate_or_leave_blank
JWT_SECRET_KEY=change_me_to_a_long_random_secret
